.card-item {
    background-color: hsla(255, 1, 100, .5);
    position: relative;
    border-radius: .5rem;
    padding: 1rem;

    img {
        max-width: 200px;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: .7rem;
    }
}